@media print {
  html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: white;
  --accent-color: rgb(197, 57, 6);
}
@font-face {
  font-family: roboto-regular;
    src: url(roboto-regular.ttf);
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("./images/back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main img {
  width: 17rem;
  height: 6rem;
  display: block;
  margin: auto;
  margin-top: 20rem;
}

nav {
  background-color: var(--accent-color);
  color: White;
}

ul:not(.list_body):not(.entry_body) {
  list-style: none;
  margin: 0;
}

ul:not(.list_body):not(.entry_body) li {
  display: inline-block;
  padding: 0.75rem 1.25rem;
}

.supporting,
.rating,
.lastpart {
  margin: 4em auto;
}
#standings{
    margin: 2em auto;
}

/*Supporting part start*/
.supporting {
  display: flex;
  align-items: flex-start;
  padding: 0 1rem;
}

.supporting img {
  height: 10%;
  width: 10%;
  margin-right: 5%;
}
/*rotate the bean image*/
.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


/*Rating part start*/
.rating {
  background-color: var(--accent-color);
  height: 10rem;
  padding: 0 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating h1 {
  font-size: 2.5rem;
}

.lastpart {
  text-align: center;
  margin-bottom: 7rem;
}


/* Button */
button {
  border: none;
  background-color: white;
}

button img {
  display: block;
  width: 5%;
  height: 4%;
  margin-left: 20px;
}


/* Countdown */
div#countdown {
  background-color: white;
  height: 5rem;
  padding: 0 1rem;
  color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* The hidden layer */
div#hidden {
  display: none;
  background-color: #a1b9cb;
  height: 500px;
  width: 300px;
  margin-left: 100px;
}


/* FOOTER */
footer {
  background-color: var(--accent-color);
  padding: 0 1rem;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  color: white;
  letter-spacing: 1px;
}




/*Media Query*/
@media only screen and (max-width: 960px) {
  .main {
    padding-top: 0;
  }
}
@media only screen and (max-width: 700px) {
  .supporting img {
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  .rating h1 {
    font-size: 2rem;
  }
  .gallery img {
    display: block;
    width: 100%;
    margin: 0;
    float: center;
  }
  footer nav {
    display: none;
  }
}

/* To create overflow in table section <center> */
/* div.table_div {
  background-color: white;
  height: 1000px;
  width: 90%;
  overflow-y: scroll;
} */



/* Table Sizing */
/* To create overflow in table section <center> */
/* div.table_div {
  background-color: white;
  height: 1000px;
  width: 80%;
  overflow-y: scroll;
} */
/* Table Start from here */
table {
    background-color: #fafafa;
  width: 80%;
  height: auto;
  border-spacing: 0;
  border-collapse: collapse;
  letter-spacing: 1px;
  box-shadow: 0 0 5px 0px #888;
  font-family: "Inknut Antiqua";
  font-size: 20px;
  table-layout: fixed;
}

td, th {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: roboto-regular;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  overflow: hidden;
}
*, :after, :before{
  box-sizing: border-box;
}

tr:nth-child(even) {
  background-color: #ededed;
}

td.numTop td:not(.score){
  font-weight: bold;
}
td.numBottom{
  font-size: 0.9rem;
  color: rgb(124, 124, 124);
}
td.nameTop{
  font-size: 1.2;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
td.nameBottom{
  font-size: 0.9rem;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  color: grey;
}

tr:not(.bottomRow) td:not(.rank):not(.score){
  border-bottom: 0px;
}
tr.bottomRow td{
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 0px;
}
td.rank{
  font-weight: bold;
}
.score{
  padding: 0px;
  color: rgb(110, 110, 110);
  border-left: 1px solid #f5f5f5;
}
.rank{
  padding: 0px;
}
th span.problemfoot{
  font-size: 0.8rem;
  font-weight: lighter;
}


/* Evaluation states*/
.accepted{
  background-color: rgb(114, 177, 114);
  box-shadow: 0 1px 3px 0px #888;
  border-radius: 6px;
  padding: -1px 1px 1px 1px;
}
.wronganswer{
  background-color: rgb(200, 10, 10);
  box-shadow: 0 1px 3px 0px #888;
  border-radius: 6px;
  padding: -1px 1px 1px 1px;
}
.runtime{
  background-color: orange;
  box-shadow: 0 1px 3px 0px #888;
  border-radius: 6px;
  padding: -1px 1px 1px 1px;
}
.timelimit{
  background-color: orange;
  box-shadow: 0px 1px 3px 0px #888;
  border-radius: 6px;
  padding: -1px 1px 1px 1px;
}
.hastooltip span{
  display: block;
  visibility: hidden;
  position: absolute;
  color: #ccc;
  margin: 2px 10px;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 5px 10px 5px 10px;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}
.hastooltip:hover span{
  display: block;
  visibility: visible;
  opacity: 1;
  background-color: #23272a;
  border: 1px solid #000;
  border-radius: 8px;
  transition: visibility 0s, opacity 0.2s;
}

/* Side pannel stuffs */

.list_body{
  width: 500px;
  column-count: 1;
  list-style-type: none;
  margin: 0 auto;
  /* display: table; */
  table-layout: fixed;
  border-spacing: 0px;
  font-size: small;
  font-family: 'Roboto';
  text-overflow: clip;
}
.list_body li{
  padding: 1px;
  /* display: table-cell; */
}
.entry_body{
  list-style-type: none;
  column-count: 4;
  margin: 0;
  display: table;
  table-layout: fixed;
  border-spacing: 0;
}
.entry_body li{
  display: inline-block;
  padding: 0 2px 0 2px;
  margin: 0;
  display: table-cell;
}
.cl1 {
  width: 70px;
  height: 10px;
}
.cl2 {
  width: 150px;
  height: 10px;
}
.cl3 {
  width: 70px;
  height: 10px;
}
.cl4 {
  width: 40px;
  height: 10px;
}



.sthead{
  font-size: smaller;
  font-weight: lighter;
}
}
html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: white;
  --accent-color: rgb(197, 57, 6);
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("./images/back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main img {
  width: 17rem;
  height: 6rem;
  display: block;
  margin: auto;
  margin-top: 20rem;
}

nav {
  background-color: var(--accent-color);
  color: White;
}

ul:not(.list_body):not(.entry_body) {
  list-style: none;
  margin: 0;
}

ul:not(.list_body):not(.entry_body) li {
  display: inline-block;
  padding: 0.75rem 1.25rem;
}

.supporting,
.rating,
.lastpart {
  margin: 4em auto;
}
#standings{
    margin: 2em auto;
}

/*Supporting part start*/
.supporting {
  display: flex;
  align-items: flex-start;
  padding: 0 1rem;
}

.supporting img {
  height: 10%;
  width: 10%;
  margin-right: 5%;
}
/*rotate the bean image*/
.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


/*Rating part start*/
.rating {
  background-color: var(--accent-color);
  height: 10rem;
  padding: 0 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating h1 {
  font-size: 2.5rem;
}

.lastpart {
  text-align: center;
  margin-bottom: 7rem;
}


/* Button */
button {
  border: none;
  background-color: white;
}

button img {
  display: block;
  width: 5%;
  height: 4%;
  margin-left: 20px;
}


/* Countdown */
div#countdown {
  background-color: white;
  height: 5rem;
  padding: 0 1rem;
  color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* The hidden layer */
div#hidden {
  display: none;
  background-color: #a1b9cb;
  height: 500px;
  width: 300px;
  margin-left: 100px;
}


/* FOOTER */
footer {
  background-color: var(--accent-color);
  padding: 0 1rem;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  color: white;
  letter-spacing: 1px;
}




/*Media Query*/
@media only screen and (max-width: 960px) {
  .main {
    padding-top: 0;
  }
}
@media only screen and (max-width: 700px) {
  .supporting img {
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  .rating h1 {
    font-size: 2rem;
  }
  .gallery img {
    display: block;
    width: 100%;
    margin: 0;
    float: center;
  }
  footer nav {
    display: none;
  }
}

/* To create overflow in table section <center> */
/* div.table_div {
  background-color: white;
  height: 1000px;
  width: 90%;
  overflow-y: scroll;
} */



/* Table Sizing */
/* To create overflow in table section <center> */
/* div.table_div {
  background-color: white;
  height: 1000px;
  width: 80%;
  overflow-y: scroll;
} */
/* Table Start from here */
table {
    background-color: #f1f1f1;
  width: 80%;
  height: auto;
  border-spacing: 0;
  border-collapse: collapse;
  letter-spacing: 1px;
  box-shadow: 0 0 5px 0px #888;
  font-family: "Inknut Antiqua";
  font-size: 20px;
  table-layout: fixed;
}

td, th {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Roboto";
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  overflow: hidden;
}
*, :after, :before{
  box-sizing: border-box;
}

tr:nth-child(even) {
  background-color: #e0e0e0;
}

td.numTop td:not(.score){
  font-weight: bold;
}
td.numBottom{
  font-size: 0.9rem;
  color: rgb(124, 124, 124);
}
td.nameTop{
  font-size: 1.2;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
td.nameBottom, th.nameBottom{
  font-size: 0.9rem;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  color: grey;
}

tr:not(.bottomRow) td:not(.rank):not(.score){
  border-bottom: 0px;
}
tr.bottomRow td{
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 0px;
}
td.rank{
  font-weight: bold;
}
.score{
  padding: 0px;
  color: rgb(110, 110, 110);
  border-left: 1px solid #f5f5f5;
}
.rank{
  padding: 0px;
}
th span.problemfoot{
  font-size: 0.8rem;
  font-weight: lighter;
}

/* Evaluation states*/
.accepted{
  background-color: rgb(114, 177, 114);
  box-shadow: 0 1px 3px 0px #888;
  border-radius: 6px;
  padding: -1px 1px 1px 1px;
}
.wronganswer{
  background-color: rgb(207, 77, 77);
  box-shadow: 0 1px 3px 0px #888;
  border-radius: 6px;
  padding: -1px 1px 1px 1px;
}
.runtime{
  background-color: orange;
  box-shadow: 0 1px 3px 0px #888;
  border-radius: 6px;
  padding: -1px 1px 1px 1px;
}
.timelimit{
  background-color: orange;
  box-shadow: 0px 1px 3px 0px #888;
  border-radius: 6px;
  padding: -1px 1px 1px 1px;
}
.outofcontest{
  background-color: grey;
  opacity: 0.8;
}
.hastooltip span{
  display: block;
  visibility: hidden;
  position: absolute;
  color: #ccc;
  margin: 2px 10px;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 5px 10px 5px 10px;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}
.hastooltip:hover span{
  display: block;
  visibility: visible;
  opacity: 1;
  background-color: #23272a;
  border: 1px solid #000;
  border-radius: 8px;
  transition: visibility 0s, opacity 0.2s;
}

/* Side pannel stuffs */

.list_body{
  width: 500px;
  column-count: 1;
  list-style-type: none;
  margin: 0 auto;
  /* display: table; */
  table-layout: fixed;
  border-spacing: 0px;
  font-size: small;
  font-family: 'Roboto';
  text-overflow: clip;
}
.list_body li{
  padding: 1px;
  /* display: table-cell; */
}
.entry_body{
  list-style-type: none;
  column-count: 4;
  margin: 0;
  display: table;
  table-layout: fixed;
  border-spacing: 0;
}
.entry_body li{
  display: inline-block;
  padding: 0 2px 0 2px;
  margin: 0;
  display: table-cell;
}
.cl1 {
  width: 70px;
  height: 10px;
}
.cl2 {
  width: 150px;
  height: 10px;
}
.cl3 {
  width: 70px;
  height: 10px;
}
.cl4 {
  width: 40px;
  height: 10px;
}



.sthead{
  font-size: smaller;
  font-weight: lighter;
}
#total_time{
  padding: 60px;
}